// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// Tailwind
$CYAN-300: #67e8f9;
$CYAN-400: #22d3ee;
$CYAN-500: #06b6d4;
$CYAN-600: #0891b2;

$GRAY-100: #f3f4f6;
$GRAY-300: #d1d5db;
$GRAY-400: #9ca3af;
$GRAY-700: #374151;

$RED-500: #ef4444;
